* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}
.main {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px;
  background: #fff;
}
@media (max-width: 1010px) {
  .main {
    max-width: 420px;
    padding: 0 16px;
  }
}
.main input {
  margin-bottom: 32px;
}
@media (max-width: 1010px) {
  .main input {
    margin-bottom: 5px;
  }
}
.header {
  display: flex;
  justify-content: center;
}
.ant-space {
  display: flex;
  justify-content: center;
}
